@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*General settings */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(172, 67%, 45%);

  --accent-color-1: hsl(183, 100%, 15%);
  --accent-color-2: hsl(186, 14%, 43%);
  --accent-color-3: hsl(184, 14%, 56%);
  --accent-color-4: hsl(185, 41%, 84%);
  --accent-color-5: hsl(189, 41%, 97%);

  --neutral-color-1: hsl(0, 0%, 100%);
  --neutral-color-2: rgb(29, 28, 28);

  --input-font-1: 24px;
  --input-font-2: 18px;
  --input-font-3: 16px;
  --input-font-4: 11px;
  --primary-font: "Space Mono", monospace;
}
body {
  background: var(--accent-color-4);
  font-family: var(--primary-font);
}

/*main wrapper*/
div.content-wrapper {
  max-width: 800px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*main section */
main {
  display: grid;
  gap: 0.625rem;
  grid: auto-flow min-content / 1fr;
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  margin-top: 30px;
}
.limited {
  margin: 19px 30px;
}
input {
  text-align: right;
  padding-right: 10px;
}
input:focus {
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none; 
     margin: 0
}

/* input section */

section.input-section {
  display: grid;
  gap: 0.625rem;
  grid: auto-flow min-content / 1fr 1fr;
}
section.input-section label {
  grid-column: 1/3;
  margin-top: 20px;
  font-weight: 700;
}
section.input-section > div {
  grid-column: 1/3;
  background: var(--accent-color-5);
  display: flex;
  border-radius: 5px;
}

section.input-section > div img {
  padding: 5px;
  height: 25px;
}
section.input-section > div input {
  border: none;
  font-size: var(--input-font-1);
  display: inline-block;
  background: var(--accent-color-5);
  width: 100%;
  border-radius: 5px;
  font-weight: 600;
  color: var(--accent-color-1);
}
section.input-section > input {
  border: none;
  border-radius: 3px;
  background: var(--accent-color-5);
  width: 100%;
  font-weight: 600;
  color: var(--accent-color-1);
}
section.input-section > input:not([type="number"]) {
  padding: 7px;
  font-size: var(--input-font-2);
  background: var(--accent-color-1);
  color: var(--neutral-color-1);
  text-align: center;
}
section.input-section > input:not([type="number"]):hover {
  background: var(--primary-color);
  cursor: pointer;
}

/*output section */
section.output-section {
  background: var(--accent-color-1);
  color: var(--neutral-color-1);
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid: auto-flow min-content / 1fr 1fr;
}
section.output-section > div {
  padding: 10px;
}
section.output-section button {
  grid-column: 1/3;
  width: 100%;
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: var(--accent-color-1);
  font-weight: 600;
}
section.output-section h4,
section.output-section h6 {
  margin: 0 auto 10px;
}
.output-section .amount h4 {
  display: inline-block;
  margin: 0;
  font-size: var(--input-font-1);
}
.output-section .amount img {
  height: 20px;
}

.percentInput.active {
  background: var(--primary-color);
  color: white;
  border: none;
}
.error {
  grid-column: 1/3;
  margin: 0;
  font-size: var(--input-font-4);
  color: red;
}

@media only screen and (min-width: 660px) {
  main {
    grid: auto-flow min-content / 1fr 1fr;
  }
  section.input-section {
    grid: auto-flow min-content / 1fr 1fr 1fr;
  }

  section.input-section label {
    grid-column: 1/4;
  }
  section.input-section > div {
    grid-column: 1/4;
  }
  section.output-section button {
    margin-top: 80px;
  }
  .error {
    grid-column: 1/4;
  }
}
